{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báscula</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}" type="text/css">
    {% block imports %} {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Pesajes <i class="fas fa-truck"></i></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex me-auto mb-2 mb-lg-0">
                    </div>
                    <ul class="navbar-nav">                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-username" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if request.user.last_name and request.user.first_name %}{{request.user.last_name | upper}} {{request.user.first_name | upper}}{% else %}{{request.user.username | upper}}{% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalUser">Cambiar Contraseña</button></li>
                            </ul>
                        </li>                        
                        {% if request.resolver_match.url_name != 'home' %}
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link"><span class="d-lg-none">Cargar
                                    Pesaje</span><i class="d-none d-lg-block far fa-clipboard fa-2x"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cargar Pesaje"></i></a>
                        </li>
                        {% endif %}
                        {% if request.user.is_staff == 1 %}
                        {% if request.resolver_match.url_name != 'pesajes' %}
                        <li class="nav-item">
                            <a href="{% url 'pesajes' %}" class="nav-link"><span
                                    class="d-lg-none">Pesajes</span><i class="d-none d-lg-block fas fa-boxes fa-2x"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pesajes"></i></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link"><span class="d-lg-none">Administración</span><i
                                    class="d-none d-lg-block fas fa-user-tie fa-2x" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Administración"></i></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link"><span class="d-lg-none">Cerrar Sesión</span><i
                                    class="d-none d-lg-block fas fa-sign-out-alt fa-2x" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Cerrar Sesión"></i></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}        
        {% block content %}{% endblock %}        
    </div>

    <div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                   
                    <div class="form-floating">
                        <input type="password" class="form-control" id="currentPassword" placeholder="Password">
                        <label for="currentPassword">Contraseña actual</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="newPassword" placeholder="Password">
                        <label for="newPassword">Nueva contraseña</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="newPasswordConfirm" placeholder="Password">
                        <label for="newPasswordConfirm">Confirmar nueva contraseña</label>
                    </div>                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnSendChangePassword">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <p> Chrisma desarrolladores <br>
            chrisma.software@gmail.com <br>
            <img src="{% static 'img/logo.png' %}" class="logo" alt=""> <br>
        </p>
    </footer>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        $("#btnSendChangePassword").click(function(){
            showloading();
            $.ajax({
                url: "/ajax/cambiarPassword",
                type: "post",
                data: {
                    currentPassword: $("#currentPassword").val(),
                    newPassword: $("#newPassword").val(),
                    newPasswordConfirm: $("#newPasswordConfirm").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(){
                    $("#modalUser").modal('hide');
                    hideLoading();
                    Swal.fire({
                        title: '¡Contraseña actualizada!', 
                        text: 'Deberá iniciar sesión nuevamente',  
                        icon: 'success',                                                        
                    }).then(()=>{
                        window.location.href = "/"
                    });
                },
                error: function(response){
                    hideLoading();                    
                    Swal.fire({
                        title: 'Error',  
                        text: response.responseJSON.message, 
                        icon: 'error',                                                        
                    });
                }
            });
        });

        function showloading(){
            Swal.fire({
                title: 'Por favor aguarde',
                timerProgressBar: true,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }            
            });
        }

        function hideLoading(){
            Swal.close();
        }      
             
    </script>
    {% block javascript %}{% endblock%}
</body>

</html>