{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báscula</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}" type="text/css">
    {% block imports %} {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Pesajes <i class="fas fa-truck"></i></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex me-auto mb-2 mb-lg-0">
                    </div>
                    <ul class="navbar-nav">
                        <span class="ml-5 nav-username">{% if request.user.last_name and request.user.first_name %}{{request.user.last_name | upper}} {{request.user.first_name | upper}}{% else %}{{request.user.username | upper}}{% endif %}</span>
                        {% if request.user.is_staff == 1 %}
                        <li class="nav-item">
                            <a href="{% url 'pesajes' %}" class="nav-link"><span
                                    class="d-lg-none">Pesajes</span><i class="d-none d-lg-block fas fa-boxes fa-2x"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pesajes"></i></a>
                        </li>
                        {% endif %}
                        {% if request.resolver_match.url_name != 'home' %}
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link"><span class="d-lg-none">Cargar
                                    Pesaje</span><i class="d-none d-lg-block far fa-clipboard fa-2x"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cargar Pesaje"></i></a>
                        </li>
                        {% endif %}
                        {% if request.user.is_staff == 1 %}
                        <li class="nav-item">
                            <a href="/admin" class="nav-link"><span class="d-lg-none">Administración</span><i
                                    class="d-none d-lg-block fas fa-user-tie fa-2x" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Administración"></i></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link"><span class="d-lg-none">Cerrar Sesión</span><i
                                    class="d-none d-lg-block fas fa-sign-out-alt fa-2x" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Cerrar Sesión"></i></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}        
        {% block content %}{% endblock %}
        
    </div>
    <footer class="footer">
        <p> Chrisma desarrolladores <br>
            chrisma.software@gmail.com <br>
            <img src="{% static 'img/logo.png' %}" class="logo" alt=""> <br>
        </p>
    </footer>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    {% block javascript %}{% endblock%}
</body>

</html>