{% extends "base.html" %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <h1 class="text-center mt-5 mb-5 titulo">Pesajes</h1>
        <div class="col-auto mb-5">
            <form>
                <label class="form-text">Periodo <i class="far fa-calendar"></i></label>
                <div Class="input-group">
                    <input type="text" name="periodo" id="periodo" autocomplete="off" Class="form-control"/>
                    <span Class="input-group-append">
                        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar"Class="btn btn-md btn-primary" type="submit" id="btnFiltrar" data-toggle="tooltip" data-placement="top" title="Filtrar">
                            <span Class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>       
        </div>   
        <table id="mytable" class="display table responsive table-striped table-hover text-center" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Generador</th>
                    <th>Residuo</th>
                    <th>Transportista</th>
                    <th>Camion</th>
                    <th>Destino</th>
                    <th>Pesaje (kg)</th>
                    <th>Costo ($)</th>
                    <th>Usuario Creador</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pesaje %}
                <tr>
                    <td>{{ item.id }} </td>
                    <td>{{ item.fcreacion |date:"d/m/Y H:i"}}</td>
                    <td>{{ item.generador }} </td>
                    <td>{{ item.residuo}}</td>
                    <td>{{ item.transportista}}</td>
                    <td>{{ item.camion }}</td>
                    <td>{{ item.destino }}</td>
                    <td>{{ item.pesaje}}</td>
                    <td>{{ item.costo }}</td>
                    <td>{{ item.usuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

<script>
    moment.locale('es');
    $('#periodo').daterangepicker({
        autoApply: true,
        {% if desde and hasta %}
        startDate: "{{desde}}",
        endDate: "{{hasta}}",
        {% endif %}
        alwaysShowCalendar: true,        
        maxDate: moment()
    });

    $(document).ready(function () {
        var datatable = $("#mytable").DataTable({
            "order": [1, "desc"],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'B>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "language": {
                "processing": '<i style="display: visible; color: #00f" class=" fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Cargando...</span>',
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No se encontraron pesajes cargados",
                "sInfo": "<span style='color: white'>Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros</span>",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _TOTAL_ registros )",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Buscar",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "lengthMenu": [[20, 50, 100, 250, 500], [20, 50, 100, 250, 500]],
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    title: moment(new Date()).format('D [de] MMMM [a las] H[.]mm [hs]')
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    title: moment(new Date()).format('D [de] MMMM [a las] H[.]mm [hs]')
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    title: moment(new Date()).format('D [de] MMMM [a las] H[.]mm [hs]')
                },
            ],
        });
        datatable.buttons().container()
            .appendTo($('.col-sm-6:eq(0)', datatable.table().container()));
    });

</script>
{% endblock %}