{% extends "base.html" %}
{% load static %}

{% block imports %}{% endblock %}

{% block content %}

<div class="row body">
    <h1 class="text-center mt-5">Pesaje</h1>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <label>Generadores</label><br>
        <select class="selectpicker form-control sm" id="generador" title="Seleccione generador"
            data-live-search="true">
            {% for item in generadores %}
            <option value="{{item.id}}">{{item.id}} - {{item.nombre}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Residuos</label><br>
        <select class="selectpicker form-control sm" id="residuos" title="Seleccione residuos" data-live-search="true">

        </select>
        <br>
        <label>Transportistas</label><br>
        <select class="selectpicker form-control sm" id="transportista" title="Seleccione transportista"
            data-live-search="true">
            {% for item in transportistas %}
            <option value="{{item.codigo}}">{{item.codigo}} - {{item.empresa}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Camiones</label><br>
        <select class="selectpicker form-control sm" id="camiones" title="Seleccione camiones" data-live-search="true">
        </select>
        <br>
        <label>Destino</label><br>
        <select class="selectpicker form-control sm" id="destino" title="Seleccione destino" data-live-search="true">
            {% for item in destinos %}
            <option value="{{item.id}}">{{item.destino}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Peso</label><br>
        <div class="form-control sm">
            <div class="input-group">
                <input id="peso" type="text" required class="form-control border-success" placeholder="Peso">
                <span class="input-group-addon"></span>
                <input id="tara" type="text" required class="form-control-sm border-primary"
                    style="background-color: rgb(231, 220, 220)" disabled placeholder="Tara">
            </div>
        </div>
        <div class="form-control btn-group mt-3">
            <button id="limpiar" class="btn btn-dark border-primary">Limpiar</button>
            <button id="enviar" class="btn btn-success border-primary">Enviar</button>
        </div>
        <br>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}

{% block javascript %}
<script>

    function SelectorResiduo() {
        $('#generador').change(function () {
            $('#generador option:selected').each(function () {
                elegido = $('#generador').val();
                $.ajax({
                    url: "/ajax/GetResiduosbyIdGenerador",
                    type: "post",
                    data: {
                        idGenerador: elegido,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                }).done(function (data) {
                    $('#residuos').html('');
                    if (data.length == 0) {
                        $('#residuos').append(`<option disabled value="0">No se encontraron resultados</option>`);
                        $('.selectpicker').selectpicker("refresh");
                    }
                    data.forEach(element => {
                        $('#residuos').append(`<option value="${element.id}">${element.residuo}</option>`);
                    });
                    $('.selectpicker').selectpicker("refresh");
                });
            });

        })
    };

    function SelectorVehiculo() {
        $('#transportista').change(function () {
            $('#transportista option:selected').each(function () {
                elegido = $('#transportista').val();
                $.ajax({
                    url: "/ajax/GetVehiculobyIdTransportista",
                    type: "post",
                    data: {
                        idTransportista: elegido,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                }).done(function (data) {
                    $('#camiones').html('');
                    if (data.length == 0) {
                        $('#camiones').append(`<option disabled value="0">No se encontraron resultados</option>`);
                        $('.selectpicker').selectpicker("refresh");
                    }
                    data.forEach(element => {
                        $('#camiones').append(`<option value="${element.id}">${element.patente}</option>`);
                    });
                    $('.selectpicker').selectpicker("refresh");
                });
            });

        })
    };

    function FijarTara() {
        $('#camiones').change(function () {
            $('#camiones option:selected').each(function () {
                elegido = $('#camiones').val();
                $.ajax({
                    url: "/ajax/FijarTara",
                    type: "post",
                    data: {
                        idPatente: elegido,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                }).done(function (data) {
                    $('#tara').val(data);
                });
            });

        })
    };


    function limpiar() {
        $("#generador").val('');
        $("#residuos").val('');
        $('#transportista').val('');
        $("#camiones").val('');
        $("#destino").val('');
        $('#peso').val('');
        $('#tara').val('');
        $('#camiones').html("");
        $('#residuos').html("");
        $('.selectpicker').selectpicker("refresh");

    }
    function validation() {
        if ($("#generador").val() == '' || $("#residuos").val() == '' || $("#transportista").val() == '' || $("#camiones").val() == '' || $("#destino").val() == '' || $("#peso").val() == '' || $("#tara").val() > $('#peso').val()) {
            return window.alert("Debe completar todos los campos.");

        } else {
            return true;
        }
    }
    $('#limpiar').on('click', function () {
        limpiar();
    })

    $('#enviar').on('click', function () {
        if (validation() == true) {
            $.ajax({
                url: "/ajax/GuardarPesaje",
                type: "post",
                data: {
                    generador: $("#generador").val(),
                    residuos: $("#residuos").val(),
                    transportista: $('#transportista').val(),
                    camiones: $("#camiones").val(),
                    destino: $("#destino").val(),
                    peso: $('#peso').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            }).done(function (data) {
                window.alert("Correcto");
            });
        }
    })

    SelectorResiduo();
    SelectorVehiculo();
    FijarTara();
</script>
{% endblock %}