{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báscula - Iniciar Sesión</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>
        
<body class="body">
    <div id="wrap">
        <div id="main">
            <div class="container-fluid">
                <div class="row main-content bg-success text-center">
                    <div class="col-md-4 text-center company__info">
                        <span class="company__logo">
                            <h2><span class="fa fa-truck"></span></h2>
                        </span>
                        <h4 class="company_title">Sistema de Pesajes</h4>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                        <div class="container-fluid">
                            <div class="row">
                                <h2>Iniciar Sesión</h2>
                            </div>
                            <div class="row">
                                <form control="" class="form-group" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <input type="text" name="username" id="username" class="form__input"
                                            placeholder="Usuario">
                                    </div>
                                    <div class="row">
                                        <!-- <span class="fa fa-lock"></span> -->
                                        <input type="password" name="password" id="password" class="form__input"
                                            placeholder="Contraseña">
                                    </div>                                                      
                                    <div class="row">
                                        <input type="submit" value="Ingresar" class="btn">
                                    </div>
                                    {% if form.errors %}  
                                    <div class="row">      
                                        <hr>                           
                                        <p class="text-left text-danger"><b>Error al iniciar sesión</b></p>
                                        <i class="text-left text-danger">{{ form.non_field_errors }}</i>  
                                        <hr>
                                    </div>                                
                                    {% endif %}   
                                </form>
                            </div>
                            <div class="row text-muted">
                                <p><i>
                                    ¿No posee una cuenta?<br>
                                    Para registrarse debe ser autorizado por un administrador
                                </i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p> Chrisma desarrolladores <br>
                chrisma.software@gmail.com <br>
                <img src="{% static 'img/logo.png' %}" class="logo" alt=""> <br>
            </p>
        </footer>
    </div>
</body>

</html>
