{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="text-center mt-5 titulo">Cambiar contraseña</h1>
            <div class="form-group mb-3">
                <div class="row">
                    <form control="" class="form-group" method="POST" id="CambiarPass">
                        {% csrf_token %}
                        <div class="row mt-3">
                            <input type="password" autocomplete=off  name="password1" id="password1" class="form__input form-control"
                                placeholder="Contraseña anterior">
                        </div>
                </div>
                <div class="row mt-3">
                    <input type="password" name="password2" id="password2" class="form__input form-control"
                        placeholder="Contraseña nueva">
                </div>
            </div>
            <div class="row mt-3">
                <input type="password" name="password3" id="password3" class="form__input form-control"
                    placeholder="Repetir contraseña">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Cambiar" class="btn mt-3" id="btnCambiar">
        </div>
        {% if form.errors %}
        <div class="row">
            <hr>
            <p class="text-left text-danger"><b>Error al iniciar sesión</b></p>
            <i class="text-left text-danger">{{ form.non_field_errors }}</i>
            <hr>
        </div>
        {% endif %}
        </form>
    </div>
</div>
</div>
</div>
</div>
<div class="col-lg-2"></div>
</div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}